body
{
	background-color:#97590B;
}
#wanted
{
	border: 10px solid black;
	margin-left:auto;
	margin-right:auto;
	width:40%
}
h1
{
	text-align:center;
	font-size:60pt;
	margin:0;
}
h2
{
	text-align:center;
	font-size:30pt;
}
.mugshot
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width:20%;
	height:500px;
	
}

.mugshot + h1
{
	margin:-100px
}