body
{
	background-color:#97590B;
	text-align:center;
}
*
{
	background-image: url('b.png');
}
#wanted
{
	border: 10px solid black;
	margin-left:auto;
	margin-right:auto;
	width:40%
}
h1
{
	font-size:60pt;
	margin:0;
}
h2
{
	font-size:30pt;
}
.mugshot
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width:272px;
	height:362px;	
}
.mugshot + h1
{
	margin:10px
}
#spiderman
{
	text-decoration:underline;
	font-style:italic;
	font-size:70pt
}
#list
{
	text-decoration:underline;
}
ul
{
	font-size:25pt;
	text-align:center;
}