/* CSS Document */
@font-face 
{
	font-family: "Roboto";
	src:url('fonts/Roboto-Regular.ttf');
	font-style:normal;
}
@font-face 
{
	font-family: "Roboto";
	src:url('fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face 
{
	font-family: "Roboto";
	src:url("fonts/Roboto-Italic.ttf") format('truetype');
	font-style: italic;
}
@font-face 
{
	font-family: "Roboto";
	src:url("fonts/Roboto-BoldItalic.ttf") format('truetype');
	font-weight: bold;
	font-style:italic;
}
/* Roboto - "Sans-serif"; used for titling*/
/* Lora - "Serif"; used for blocks of text*/
@font-face
{
	font-family: "Lora";
	src:url("fonts/Lora-Regular.ttf") format('truetype');
	font-style:normal;	
}
@font-face
{
	font-family: "Lora";
	src:url("fonts/Lora-Bold.ttf") format('truetype');
	font-weight: bold;
}
@font-face
{
	font-family: "Lora";
	src:url("fonts/Lora-Italic.ttf") format('truetype');
	font-style:italic;	
}
@font-face
{
	font-family: "Lora";
	src:url("fonts/Lora-BoldItalic.ttf") format('truetype');
	font-weight: bold;
	font-style:italic;	
}
*
{
	/*background-color:#EFEFEF;*/
	color:black;
	/*border: 1px solid black;*/
}

h1
{
	font-family:"Roboto";
	font-style:normal;
	text-align:center;
}
h2, h3
{
	font-family:"Roboto";
	margin-left:70px;
}
p 
{
	font-family:"Lora";
	margin-left:75px;
	margin-right:75px;
}
h3 + p
{
	border-top:1px solid gray;
}
.pagetitle 
{
	font-size:3.5vw;
	text-decoration:underline;
}
.button 
{
	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
	font-size: 1.25vw;
	font-weight: bold;
	background-color:#7A7A7A;
	color:black;
}
button:disabled {background-color:gray;}
ul {list-style-type:square;}
.iframe 
{
	width: 1500px;
	height: 700px;
}
em
{
	font-weight:bold;
	text-decoration:underline;
}
.logo
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.SiteNavigation
{
	display:block;
	text-align:center;
}
.ctr
{
	text-align:center;
}
#onSite
{
	background-color:#c5331c;
}