/* CSS Document */
.download 
{
	padding-top: .5vw;
	padding-bottom: .5vw;
	padding-left: .5vw;
	padding-right: .5vw;
	font-size: 1vw;
	font-weight: bold;
	background-color:#c5331c;
	color:white;
	
}

.download:hover
{
	background-color:white;
	color:#c5331c;
	border-color:#c5331c;
}