/* CSS Document */
@font-face 
{
	font-family: "Roboto";
	src:url('bacs200/css/fonts/Roboto-Regular.ttf');
	font-style:normal;
}
@font-face 
{
	font-family: "Roboto";
	src:url('bacs200/css/fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face 
{
	font-family: "Roboto";
	src:url("bacs200/css/fonts/Roboto-Italic.ttf") format('truetype');
	font-style: italic;
}
@font-face 
{
	font-family: "Roboto";
	src:url("bacs200/css/fonts/Roboto-BoldItalic.ttf") format('truetype');
	font-weight: bold;
	font-style:italic;
}
/* Roboto - "Sans-serif"; used for titling*/
/* Lora - "Serif"; used for blocks of text*/
@font-face
{
	font-family: "Lora";
	src:url("/bacs200/css/fonts/Lora-Regular.ttf") format('truetype');
	font-style:normal;	
}
@font-face
{
	font-family: "Lora";
	src:url("/bacs200/css/fonts/Lora-Bold.ttf") format('truetype');
	font-weight: bold;
}
@font-face
{
	font-family: "Lora";
	src:url("/bacs200/css/fonts/Lora-Italic.ttf") format('truetype');
	font-style:italic;	
}
@font-face
{
	font-family: "Lora";
	src:url("/bacs200/css/fonts/Lora-BoldItalic.ttf") format('truetype');
	font-weight: bold;
	font-style:italic;	
}

h1
{
	font-family:"Roboto";
	font-style:normal;
}
h2
{
	font-family:"Lora";
}
p
{font-family:"Lora";}
.pagetitle
{
	font-size:4vw;
}
.button 
{
	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
	font-size: 2vw;
	font-weight: bold;
	background-color:silver;
}
ul
{
	list-style-type:square;
}
