* {font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"}
header h1 
{
    font-size: 60pt;
    color:#fdbd37;
    text-align:center;
    
}
header p 
{
    color:#fdbd37;
    font-size:21pt;
    text-align:center;
}
header {background-color:#002d5e}
main {color:#002d5e;}
.implication {text-align:left;}
body 
{
    /*background-color:antiquewhite;*/
    background-color:#002d5e;
}
section > h2
{
    font-size:22pt;
    text-decoration:underline;
}
section > p
{
    font-size:14pt;
}