body
{
    /*background-color:lightgray;*/
    color:black;
}
table
{
    border-spacing:0;
    margin-right:auto;
    margin-left:auto;
    border:4px solid black;
}
#superHeroCaption
{
    font-size:30pt;
    text-align:center;
    border-left:4px solid black;
    border-top:4px solid black;
    border-right:4px solid black;
}
th, td, caption
{
    border:2px solid black;
    text-align:center;
    border-spacing:0;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    font: size 1.5vw;;
}
.colheader
{
    font-size:40px;
    padding:15px;
    background-color:gray;
}

.tableheader
{
    font-size:2vw;
    padding:15px;
}
ul
{
    list-style-type:disc;
}