@font-face {
    font-family: "Roboto";
    src:url('bacs200/css/fonts/Roboto-Regular.ttf');
    font-style:normal;
}
@font-face {
    font-family: "Roboto";
    src:url("bacs200/css/fonts/Roboto-Bold.ttf") format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src:url("bacs200/css/fonts/Roboto-Italic.ttf") format('truetype');
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src:url("bacs200/css/fonts/Roboto-BoldItalic.ttf") format('truetype');
    font-weight: bold;
    font-style:italic;
}
label {font-family:"Roboto"; font-size:2vw;}
h1 {font-size:4vw;}