body
{
	background-color:#97590B;
	text-align:center;
	background-image: url('../images/aged_paper.png');
}
#wanted
{
	border: 10px solid black;
	margin-left:auto;
	margin-right:auto;
	width:40%;
	background:none;
	color:black;
}
h1
{
	font-size:60pt;
	margin:0;
	color:black;
	background:none;
}
h2
{
	font-size:30pt;
	color:black;
	background:none;
}
.mugshot
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width:272px;
	height:362px;	
}
.mugshot + h1
{
	margin:10px
}
#spiderman
{
	text-decoration:underline;
	font-style:italic;
	font-size:70pt;
	color:black
}
#list
{
	text-decoration:underline;
}
ul
{
	font-size:25pt;
	text-align:center;
	color:black;
	background:none;
}
p
{
	text-align:left;
	background:none;
}
footer
{
	color:black;
	text-align:left;
	background:none;
}